<header class="header">
  <nav class="navbar">
    <div class="home-link">
      <%= link_to "LifeStyle", root_path, :class => "header-link" %>
    </div>

    <div class="nav-div nav-cats">
      <ul class="category-list">
        <% Category.all.each do |category| %>
          <li class="dropdown">
            <%= link_to category.name, category_path(category) %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="nav-div nav-user">
      <ul class="user-menu">
        <% if user_signed_in? %>
          <%= create_article_link %>
          <p class="user-info">Signed in as <%= current_user.email %></p>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "header-link" %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => "header-link" %>
          <%= link_to "Sign in", new_user_session_path, :class => "header-link" %>
        <% end %>
      </ul>
    </div>

  </nav>
</header>
